.container_start{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c2a64;
    color: #b953c7;
    text-align: center;
    flex-direction: column;
}
