@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background-color: #5c2a64;
    color: #b953c7;
    text-align: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.button{
    margin: 10px 0 10px 0;
    background-color: rgba(78, 35, 84, 0.78);
    border: 0;
    border-radius: 15px;
    color: #b853c6;
    min-height: 40px;
    min-width: 100px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}
.input{
    outline: none;
    background-color: rgba(78, 35, 84, 0.78);
    border: 0;
    border-radius: 15px;
    padding: 10px;
    color: #b853c6;
    font-size: 16px;
    margin: 10px;
}
.info{
    margin: 50px 0 30px 0;
    width: 350px;
    font-size: 20px;


}
.skymirs{
    width: 217px;
    height: 145px;
    margin: 20px 0 0 150px;
}
.heading{
    margin: 20px 0 10px 0;
    font-weight: bold;
    font-size: 25px;
}